a, .a, button {
	color: #88F;
}
.active, a.active {
	background: #002;
}
a:focus, a:hover,
button:focus, button:hover,
button.submit:focus, button.submit:hover {
	background: #004;
}
a:active,
button:active,
button.submit:active {
	background: #004;
}
button.submit {
	background: #002;
	border-color: #008;
}
