html, body, input, option, select, textarea {
	background: #000;
	color: #FFF;
}
.colorSchemeToggle-icon {
	fill: #FFF;
}
div {
	scrollbar-color: #222 #000;
	/* scrollbar-width: thin; */
}
@media (pointer: fine) {
	::-webkit-scrollbar-thumb {background:#222;}
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {background:#000;}
}
a, .a, button,
a.colorless {
		color: #888;
}
.active, a.active,
.active.colorless, a.active.colorless {
		background: #111;
}
a:focus, a:hover,
.a:focus, .a:hover,
a.colorless:focus, a.colorless:hover,
button:focus, button:hover,
button.submit:focus, button.submit:hover {
	background: #222;
}
a:active,
a.colorless:active,
button:active,
button.submit:active {
	background: #555;
}
button, input, select, textarea, .messages {
	background: 0;
	border-color: #888;
}
.divider {
	color: #222;
}
.border, .form, .label, .chat-form, .chat-form .submit, .search, .room-bar, .chat p {
	border-color: #222;
}
.field-label {
	color: #CCC;
}
.gray, .Server {
	color: #888;
}

.c0 {color:#F33;}
.c1 {color:#F63;}
.c2 {color:#FF3;}
.c3 {color:#6F3;}
.c4 {color:#3F3;}
.c5 {color:#3F6;}
.c6 {color:#3FF;}
.c7 {color:#36F;}
.c8 {color:#66F;}
.c9 {color:#63F;}
.c10{color:#F3F;}
.c11{color:#F36;}
