a, .a, button {
	color: #8F8;
}
.active, a.active {
	background: #010;
}
a:focus, a:hover,
button:focus, button:hover,
button.submit:focus, button.submit:hover {
	background: #020;
}
a:active,
button:active,
button.submit:active {
	background: #050;
}
button.submit {
	background: #010;
	border-color: #040;
}
