.light, .light input, .light option, .light select, .light textarea {
	background: #FFF;
	color: #000;
}
.light .colorSchemeToggle-icon {
	fill: #000;
}
.light div {
	scrollbar-color: #DDD #FFF;
}
@media (pointer: fine) {
	.light ::-webkit-scrollbar-thumb {background:#DDD;}
	.light ::-webkit-scrollbar-track-piece, .light ::-webkit-scrollbar-corner {background:#FFF;}
}
.light a, .light .a, .light button,
.light a.colorless {
		color: #000;
}
.light .active, .light a.active,
.light .active.colorless, .light a.active.colorless {
		background: #EEE;
}
.light a:focus, .light a:hover,
.light .a:focus, .light .a:hover,
.light a.colorless:focus, .light a.colorless:hover,
.light button:focus, .light button:hover,
.light button.submit:focus, .light button.submit:hover {
	background: #DDD;
}
.light a:active,
.light a.colorless:active,
.light button:active,
.light button.submit:active {
	background: #CCC;
}
.light button, .light input, .light select, .light textarea, .light .messages {
	background: 0;
	border-color: #888;
}
.light .divider {
	color: #DDD;
}
.light .border, .light .form, .light .label, .light .chat-form, .light .chat-form .submit, .light .search, .light .room-bar, .light .chat p {
	border-color: #DDD;
}
.light .field-label {
	color: #333;
}
.light .gray, .light .Server {
	color: #888;
}

.light .c0 {color:#C33;}
.light .c1 {color:#C63;}
.light .c2 {color:#AA3;}
.light .c3 {color:#683;}
.light .c4 {color:#383;}
.light .c5 {color:#3C6;}
.light .c6 {color:#3AA;}
.light .c7 {color:#36F;}
.light .c8 {color:#668;}
.light .c9 {color:#638;}
.light .c10{color:#A3A;}
.light .c11{color:#836;}
