* { box-sizing: border-box; }
html, body, #root, .html {
	height: 100%;
	overflow: hidden;
}
body, button, input, textarea, select {
	font-family: 'Consolas', 'Monaco', monospace;
	font-size: 16px;
	line-height: 1.5em;
}
body {
	margin: 0;
}
a, .a {
	cursor: pointer;
}
.fade {
	opacity: .5;
}
.fade2 {
	opacity: .25;
}
p, .p {
	margin: .75em 0;
}
button {
	border-style: solid;
	cursor: pointer;
	height: 3em;
	padding: 0 .5em;
}
button::-moz-focus-inner { 	border: 0; 	padding: 0; }
button.a {
	border: 0;
	text-align: left;
}
input, textarea {
	border-style: solid;
	outline: 0;
}
input.valid:invalid {
	box-shadow: none;
}
select {
	-moz-appearance: none;
}
.full-flex {display:none;}
.border {
	border-style: solid;
}
.scrollable {
	overflow-y: auto;
}
.icon-svg svg {
	height: 1em;
	width: 1em;
}
.logo {
	white-space: nowrap;
}
.search {
	border-width: 1px 0;
}
.room-bar .search {
	border-width: 0;
}
.menu {
	margin: 0;
	padding: 0;
}
.menu a, .menu .a, .menu-item {
	display: block;
	line-height: 3em;
	padding: 0 1rem;
	text-decoration: none;
}
.colorSchemeToggle-icon {
	display: block;
}
.hide {
	display: none;
}
.form {
	display: flex;
}
.grow {
	flex: 1;
}
.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.wide {
	width: 100%;
}
.label {
	border-style: solid;
	border-width: 1px 0 0;
	cursor: text;
	display: flex;
	flex-direction: column;
	margin: -1px 0 0;
}
.field-label, .form button, .label select, .label input, .label textarea {
	padding: 0 1rem;
}
.field-label, .form button, .label select, .label input {
	line-height: 3em;
}
.label select, .label input, .label textarea {
	border-width: 0;
}
.label textarea {
	resize: vertical;
}
.chat-form {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 1px 0;
	/*overflow: hidden;*/
}
.chat-form input {
	border-width: 0;
	line-height: 3em;
	padding: 0 1em;
}
.chat-form .submit {
	border-width: 0 0 0 1px;
	padding: 0 .5em;
}
.chat {
	/*flex-grow: 1;*/
	overflow-y: scroll;
}
.chat p {
	/* border-bottom: 1px solid; */
	margin: 0;
	overflow-x: auto;
}
.name {
	flex-shrink: 0;
	overflow: hidden;
	padding: 0 0 0 .5em;
	text-align: right;
	white-space: nowrap;
}
.divider {
	margin: 0 .25em;
}
.chat-form input.name-input {
	padding: 0 .5em 0 0;
	text-align: right;
}
.RoomList {
	min-width: 5em;
	resize: horizontal;
}
.sidebar .RoomList {
	max-width: 16em;
}
.room-bar {
	border-style: solid;
	border-width: 0 0 1px;
}
.sidebar {
	border-width: 0 1px 0 0;
	display:none;
	overflow-y: auto;
}
.sidebar .menu-item.grow {
	overflow: hidden;
}
@media screen and (min-width: 30em){
	.full-flex {display: flex;}
	.mobile {display:none!important;}
}
.home-logo svg {transform: rotate(270deg);}
@media (pointer: fine) {
	::-webkit-scrollbar {width: 16px;}
}
