a, .a, button {
	color: #F88;
}
.active, a.active {
	background: #100;
}
a:focus, a:hover,
button:focus, button:hover,
button.submit:focus, button.submit:hover {
	background: #200;
}
a:active,
button:active,
button.submit:active {
	background: #500;
}
button.submit {
	background: #100;
	border-color: #400;
}
